/*
* 1. Global styles & layout
*   1.1. Global style setting
*   1.2. Content styling & layout 
*   1.3. Responsive styles for different screens
* 2. Typography styling
* 3. Component styling & layout
*/

/* 1. Global styles & layout */

/* 1.1. Global style setting */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #222831;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #30475e;
    color: #e8e8e8;
}

/* 1.2. Content styling & layout */

header {
    /* position: -webkit-sticky; */
        /* position: sticky; */
    grid-area: header;
    background-color: #222831;
}

#hero-container {
    grid-area: hero;
}

#skills-container {
    grid-area: skills;
}

#education-container {
    grid-area: education;
}

#experience-container {
    grid-area: experience;
}

#hobbies-container {
    grid-area: hobbies;
}

footer {
    background: #333;
    /* color: rgb(177, 177, 177); */
    grid-area: footer;
}

#app {
    display: grid;
    grid-template-columns: 1fr minmax(250px, 3fr) 1fr;
    grid-template-rows: 80px repeat(5, auto) 80px;
    grid-template-areas: 
        "header header header"
        ". hero ."
        ". skills ."
        ". education ."
        ". experience ."
        ". hobbies ."
        "footer footer footer"
        ;
}

/* 1.3. Responsive styles for different screens */

@media screen and (min-width: 800px) {
    #app {
        grid-template-columns: 1fr minmax(250px, 3fr) 1fr minmax(250px, 3fr) 1fr;
        grid-template-rows: 80px repeat(4, auto) 80px;
        grid-template-areas: 
            "header header header header header"
            ". hero hero hero ."
            ". skills skills skills ."
            ". experience education education ."
            ". hobbies hobbies hobbies ."
            "footer footer footer footer footer"
            ;
    }

    #skills-heading {
        grid-area: heading;
    }
    
    #skills-primary {
        grid-area: primary;
    }
    
    #skills-secondary {
        grid-area: secondary;
    }
    
    #skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "heading heading"
            "primary secondary"
        ;
    }
}

/* TODO 3 column layout */

/* 2. Typography styling */

h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1e m;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}


/* 3. Component styling & layout */
#header-content {
    display: grid;
    grid-template-columns: 1fr 80px;
}

#greeting {
    grid-area: greeting;
    margin: 0 auto;
}

#location {
    grid-area: location;
    margin: 0 auto;
}

#profile-pic {
    width: 70%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    grid-area: picture;
    margin: 0 auto;
}

#hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "picture"
    "greeting"
    "location"
    ;
}

.hamburger-button {
    background-color: #30475e;
    border: none;
    color: #e8e8e8;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5em;
    font-weight: 900;
}

/* .card {
    background-color: #222831;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */